<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBKXvNQOvTth0yCZmFOG0fhI2tPTeSmQ-s</string>
	<key>GCM_SENDER_ID</key>
	<string>171984399501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leoho.naverBlogImageDownloader.ios</string>
	<key>PROJECT_ID</key>
	<string>naver-blog-image-downloader</string>
	<key>STORAGE_BUCKET</key>
	<string>naver-blog-image-downloader.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171984399501:ios:b7b57bc29bdf7e38bc86c4</string>
</dict>
</plist>